<!--
    photostudio
-->
<div class="md_container md_large_size" id="photostudio">
    <div id="splashes" class="md_container">
        <?php
					for ($c = 0; $c < 4; $c++) {
						echo '
							<div class="blocks m
							11qd_float_base">
        <img src="imgs/splashes/splash' . $c . '.png"/>
    </div>';
    }
    ?>
</div>
<div id="photoshot" class="md_container">

</div>
<div class="md_container">
    <a class="md_btn">click me!</a>
    <a class="md_btn" id="upload">...or me :)</a>
    <form class="md_container md_col_container md_upload_form"
          id="upload_form" action="model/uploadImage.php"
          method="post" enctype="multipart/form­-data">
        <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
        Select image:
        <input type="file" name="imageFile" id="image_file" enctype="multipart/form­-data"/>
        <input type="submit" value="uploadImage" name="submit"/>
    </form>
</div>
<div class="md_container md_full_w_small_h" id="prev_panel">
    <p>sumthng</p>
</div>
</div>