<!--
    gallery of user images
-->
<div class="md_container md_full_size" id="gallery">

    <div class="md_container">
        <h1>The gallery is empty</h1>
    </div>;
</div>

<div class="md_container md_card img_info">
    <div class="img_preview">
        <img src="resources/splashes/splash0.png" alt="" />
    </div>
    <div class="md_container" id="comments">
        <div class="user_comments">
        </div>
        <div class="text_area_container">
            <textarea name="name" rows="8" cols="40"></textarea>
        </div>
    </div>
</div>