<div class="md_float_mid md_side_bar" id="access_form">
    <!--
        signIn form
    -->
    <form class="md_card" id="signInForm">
        <h1 class="card_title">Login</h1>
        <div class="md_input_wrapper">
            <p>Username/E-mail:</p>
            <input type="text" name="signInUsername" required/>
        </div>
        <div class="md_input_wrapper">
            <p>Password:</p>
            <input type="text" name="signInPassword" maxlength="10" required/>
        </div>
        <div class="md_input_wrapper">
            <input type="submit" value="submit" onclick="validateUser()"/>
        </div>
        <div class="md_options md_container">
            <a id="openSignUp">uhm...I dont have an account!</a>
            <a>haha..I forgot my password :D!</a>
        </div>
    </form>
    <!--
        registration form
    -->
    <form class="md_card" id="signUpForm">
        <h1 class="card_title">Register</h1>
        <div class="md_input_wrapper">
            <p>Username:</p>
            <input type="text" name="signUpUsername" required/>
        </div>
        <div class="md_input_wrapper">
            <p>E-mail:</p>
            <input type="email" name="signUpEmail" placeholder="example@here.com" required/>
        </div>
        <div class="md_input_wrapper">
            <p>Password:</p>
            <input type="text" name="signUpPassword1" maxlength="10" required/>
        </div>
        <div class="md_input_wrapper">
            <p>Re-enter password:</p>
            <input type="text" name="signUpPassword2" maxlength="10" required/>
        </div>
        <div class="md_input_wrapper">
            <input type="submit" value="submit" onclick="registerUser()"/>
        </div>
        <div class="md_options md_container">
            <a id="openSignIn">uhm...I have an account!</a>
        </div>
    </form>
</div>